.about-us-block {
  background-color: #fff;
  overflow: hidden;
}

@media (max-width: 991px) {
  .about-us-block {
    overflow: inherit;
  }
}

.about-us-block__inner {
  max-width: 86.5625rem;
  margin: 0.9375rem auto 4.375rem;
  padding: 0 0.9375rem;
  overflow: hidden;
}

@media (max-width: 991px) {
  .about-us-block__inner {
    position: relative;
    top: -6.25rem;
    z-index: 1;
  }
}
