.about-us-item {
  display: flex;
  justify-content: center;
  margin: 0.9375rem auto;
  padding: 3.75rem 6.25rem;
  border-radius: 2.5rem;
}

@media (max-width: 991px) {
  .about-us-item {
    flex-direction: column;
    padding: 1.875rem;
    border-radius: 0.9375rem;
  }
}

.about-us-item__icon {
  padding-right: 3.75rem;
}

@media (max-width: 991px) {
  .about-us-item__icon {
    padding: 0;
    margin: 0 auto 1.25rem;
  }

  .about-us-item__icon-img {
    max-width: 6.25rem;
  }
}

.about-us-item__decs {
  position: relative;
}

.about-us-item__decs-img {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1023px) {
  .about-us-item__decs-img {
    max-width: 15.625rem;
  }
}

@media (max-width: 991px) {
  .about-us-item__decs-img {
    position: static;
    max-width: 6.25rem;
  }
}

.about-us-item__decs-text {
  position: relative;
  max-width: 46.875rem;
  margin: 77px 0 0 245px;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (max-width: 1023px) {
  .about-us-item__decs-text {
    margin: 54px 0 0 185px;
    font-size: 1.125rem;
    line-height: 1.875rem;
  }
}

@media (max-width: 991px) {
  .about-us-item__decs-text {
    margin: 0.625rem 0 0;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}
