.campaign-block {
  display: block;
  opacity: 1;
  max-height: 4.4375rem;
  transition: all 0.3s linear;
  overflow: hidden;
  transform: translateY(0);
}

.campaign-block.bg-black {
  background-color: #000;
}

.campaign-block.hide,
.campaign-block.close {
  max-height: 0;
  transform: translateY(-71px);
}

.campaign-block__content {
  position: relative;
  padding: 1.25rem 0;
}

@media (max-width: 1699px) {
  .campaign-block__content {
    padding: 0.625rem 0;
  }
}

.campaign-block__btn-close {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 0.625rem;
  cursor: pointer;
  background: none;
  border: 0;
}

.campaign-block__btn-close .icon {
  display: block;
  max-width: 1.5rem;
}

@media (max-width: 1023px) {
  .campaign-block__btn-close {
    padding: 0.375rem;
  }

  .campaign-block__btn-close .icon {
    max-width: 1rem;
  }
}

.campaign-block__text {
  color: #d9d9d9;
  font-size: 2rem;
  line-height: 2rem;
  font-family: "SVN-Tangerine", "Playfair Display", serif;
  text-align: center;
}

@media (max-width: 1699px) {
  .campaign-block__text {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
}

@media (max-width: 1023px) {
  .campaign-block__text {
    font-size: 1rem;
    line-height: 1.125rem;
  }
}

.popup-campaign .popup-inner {
  max-width: 30%;
}

@media (max-width: 1023px) {
  .popup-campaign .popup-inner {
    max-width: 75%;
  }
}

.popup-campaign .thumbail-wrapper {
  max-height: 80vh;
  min-height: 250px;
}

.popup-campaign__text {
  position: absolute;
  left: 1.5rem;
  right: 1.5rem;
  bottom: 1.5rem;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
