.banner-contact-us {
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.banner-contact-us .heading {
  position: relative;
  margin-top: 13.125rem;
  margin-bottom: 2.5rem;
  background: linear-gradient(180deg, #bc951e 2.6%, #f9d978 48.44%, #f8ed71 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  z-index: 1;
}

@media (max-width: 991px) {
  .banner-contact-us .heading {
    margin-top: 6.25rem;
    margin-bottom: 1.25rem;
  }
}

.banner-contact-us .title {
  font-family: SVN-Tangerine;
  font-size: 5rem;
  line-height: 5.625rem;
  letter-spacing: -5px;
}

@media (max-width: 991px) {
  .banner-contact-us .title {
    font-size: 2rem;
    line-height: 2.625rem;
    letter-spacing: -2px;
  }
}
