.hero-section .slick-list,
.hero-section .slick-track,
.hero-section .slick-slide {
  height: 100% !important;
}

.hero-section .slick-slide > div {
  height: 100% !important;
  display: block !important;
}

.hero-slide {
  width: 100% !important;
  height: 100% !important;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  display: block !important;
}

