header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 90;
  transition: all 0.3s linear;
}

@media (max-width: 1023px) {
  header {
    z-index: 100;
  }
}

header.bg-black {
  background-color: #000;
}

header::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    #e9b662 8.57%,
    #f6df70 32.43%,
    #e7b460 63.52%,
    #f4e76f 88.66%
  );
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.25rem;
}

@media (max-width: 1919px) {
  .header {
    padding: 0 3.125rem;
  }
}

@media (max-width: 1023px) {
  .header {
    position: relative;
    display: block;
    padding: 0.9375rem;
  }
}

.header__burger {
  display: none;
  position: absolute;
  top: 50%;
  left: 3.125rem;
  transform: translateY(-50%);
  padding: 0.3125rem;
  border: 0;
  width: 31px;
  height: 20px;
  background: none;
  transition: all 0.3s linear;
  cursor: pointer;
  z-index: 10;
}

.header__burger:hover {
  opacity: 0.8;
}

@media (max-width: 1023px) {
  .header__burger {
    display: block;
  }
}

@media (max-width: 767px) {
  .header__burger {
    left: 0.9375rem;
  }
}

.header__burger--first,
.header__burger--second,
.header__burger::before,
.header__burger::after {
  display: block;
  position: absolute;
  height: 2px;
  background-color: #d9d9d9;
  transition: all 0.275s;
  border-radius: 20px;
}

.header__burger--first,
.header__burger--second {
  top: 50%;
  transform: translateY(-50%);
}

.header__burger--first {
  width: 6px;
  left: 0;
}

.header__burger--second {
  width: 12px;
  right: 10px;
}

.header__burger::before,
.header__burger::after {
  content: "";
  left: 0;
  width: 21px;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger.is-open::before {
  transform: translateX(-2px) translateY(9px) rotate(45deg);
}

.header__burger.is-open::after {
  transform: translateX(-2px) translateY(-9px) rotate(-45deg);
}

.header__burger.is-open .header__burger--first,
.header__burger.is-open .header__burger--second {
  transform: translateX(10px);
  opacity: 0;
}

.header__menu-wrapper {
  display: flex;
  position: relative;
}

@media (max-width: 1023px) {
  .header__menu-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
  }

  .header__menu-wrapper.show-menu {
    display: block;
  }
}

.header__menu-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1023px) {
  .header__menu-overlay {
    display: block;
  }
}

.header__menu-list {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 1.25rem;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 1023px) {
  .header__menu-list {
    display: block;
    width: 316px;
    height: 100vh;
    padding: 5.5rem 3.125rem 1.25rem;
    background-color: #000;
    overflow: hidden auto;
  }
}

.header__menu-item {
  position: relative;
  padding: 1.84375rem 0;
  transition: all 0.3s linear;
}

.header__menu-item > a {
  font-weight: 300;
  font-size: 1.3125rem;
  line-height: 200%;
}

@media (max-width: 1439px) {
  .header__menu-item > a {
    font-size: 1.1875rem;
  }
}

@media (max-width: 1299px) {
  .header__menu-item > a {
    font-size: 1.0625rem;
  }
}

.header__menu-item > .icon {
  display: none;
  width: 0.75rem;
  height: 0.9375rem;
  margin-left: 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("/assets/images/Icons/icon-down.svg");
  transition: transform 0.3s linear;
}

.header__menu-item.active > a,
.header__menu-item:hover > a,
.header__menu-item.show-sub > a {
  color: #f9d978;
  font-weight: 500;
}

.header__menu-item.active > .icon,
.header__menu-item:hover > .icon,
.header__menu-item.show-sub > .icon {
  background-image: url("/assets/images/Icons/icon-down-gold.svg");
  cursor: pointer;
}

.header__menu-item:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 99%;
  width: 100%;
  height: 0.9375rem;
  z-index: 1;
}

.header__menu-item.show-sub > .icon {
  transform: rotateX(180deg);
}

@media (max-width: 1023px) {
  .header__menu-item {
    padding: 0.3125rem 0;
  }

  .header__menu-item > a {
    color: #d9d9d9;
    font-size: 1.3125rem;
  }

  .header__menu-item.has-sub .icon {
    display: inline-block;
  }
}

.header__sub-menu-block {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background-color: #262626;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  border-radius: 24px;
}

.header__menu-item.show-sub .header__sub-menu-block,
.header__menu-item:hover .header__sub-menu-block {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1023px) {
  .header__sub-menu-block {
    position: relative;
    display: none;
    background-color: transparent;
  }

  .header__menu-item.show-sub .header__sub-menu-block {
    display: block;
  }
}

.header__sub-menu-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding: 1.875rem;
  row-gap: 1.25rem;
  column-gap: 3.75rem;
  list-style: none;
}

@media (max-width: 1023px) {
  .header__sub-menu-list {
    grid-template-columns: 1fr;
    padding: 0;
    row-gap: 0.625rem;
  }
}

.header__sub-menu-item {
  padding: 0.625rem 0;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s linear;
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 100%;
}

@media (max-width: 1699px) {
  .header__sub-menu-item {
    font-size: 1.4375rem;
  }
}

@media (max-width: 1439px) {
  .header__sub-menu-item {
    font-size: 1.3125rem;
  }
}

@media (max-width: 1023px) {
  .header__sub-menu-item {
    margin: 0;
    padding: 0 0 0 1.5625rem;
    background: #000;
    border-left: 2px solid #000;
    border-radius: 0;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 200%;
  }
}

.header__sub-menu-item a {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.header__sub-menu-item a .icon {
  width: 1.5rem;
  height: 1.5rem;
}

.header__sub-menu-item a .icon.active {
  display: none;
}

.header__sub-menu-item:hover a .icon {
  display: none;
}

.header__sub-menu-item:hover a .icon.active {
  display: inline-block;
}

@media (max-width: 1023px) {
  .header__sub-menu-item a .icon,
  .header__sub-menu-item a .icon.active {
    display: none;
  }
}

.header__sub-menu-item a p {
  color: #d9d9d9;
  font-weight: 600;
  font-size: 1.125rem;
  white-space: nowrap;
}

.header__sub-menu-item:hover a p,
.header__sub-menu-item.active a p {
  color: #fff;
}

@media (max-width: 1023px) {
  .header__sub-menu-item a p {
    font-weight: 300;
    line-height: 200%;
  }

  .header__sub-menu-item:hover,
  .header__sub-menu-item.active {
    background: rgba(217, 217, 217, 0.1);
    border-left-color: #f8ed71;
  }
}

.header__block-logo {
  padding: 15px 0;
  max-width: 16.75rem;
}

.header__block-logo .logo {
  display: block;
  margin: 0 auto;
  height: 4.375rem;
}

@media (max-width: 1919px) {
  .header__block-logo .logo {
    height: 3.75rem;
  }
}

@media (max-width: 1439px) {
  .header__block-logo .logo {
    height: 3.125rem;
  }
}

@media (max-width: 767px) {
  .header__block-logo {
    padding: 1.09375rem 0;
  }

  .header__block-logo .logo {
    height: 2.5rem;
  }
}

.header__contact {
  padding: 7.5px 0;
  text-align: right;
}

@media (max-width: 991px) {
  .header__contact {
    position: absolute;
    right: 0.9375rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.header__contact-phone {
  display: none;
  font-size: 0.75rem;
  color: #f9d978;
  font-weight: 400;
  margin-bottom: 0.3125rem;
}

@media (max-width: 991px) {
  .header__contact-phone {
    display: block;
  }
}

.header__contact-address {
  margin-bottom: 0.625rem;
  font-size: 1.3125rem;
  color: #d9d9d9;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.5rem;
  font-weight: 400;
}

.header__contact-address i {
  margin-right: 0.3125rem;
}

@media (max-width: 1439px) {
  .header__contact-address {
    font-size: 1.1875rem;
  }
}

@media (max-width: 1299px) {
  .header__contact-address {
    font-size: 1.0625rem;
  }
}

@media (max-width: 991px) {
  .header__contact-address {
    display: none;
  }
}

.social-list {
  display: flex;
  justify-content: flex-end;
  gap: 1.5625rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-item {
  display: flex;
}
