.footer {
  padding: 3.875rem 0 0;
  background-color: #000;
  color: #fff;
}

.footer .logo-footer {
  display: block;
  margin: 0 auto 2.5rem;
  max-width: 16.6875rem;
}

.footer .title {
  font-size: 2rem;
  line-height: 2.375rem;
  color: #f9d978;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}

.location-block address {
  font-size: 1.4375rem;
  text-transform: uppercase;
  color: #fff;
  font-style: normal;
  margin-bottom: 1.25rem;
}

.direction_link {
  display: inline-block;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}

.map-block img {
  max-width: 100%;
  border-radius: 0.75rem;
}

.open-hour-block .calendar-list span {
  font-size: 1.375rem;
  line-height: 2.75rem;
}

.keep-in-touch {
  padding-left: 20%;
}

.keep-in-touch .phone_link,
.keep-in-touch .mail_link {
  display: block;
  color: #fff;
}

.footer-nav-wrapper {
  padding: 1.0625rem 0 2.125rem;
  background-color: #262626;
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.footer-nav-list .nav-item {
  background: rgba(217, 217, 217, 0.1);
  padding: 1.0625rem 1.25rem 0.8125rem;
  color: #c4c4c4;
  font-size: 1.5625rem;
  text-transform: uppercase;
  border-radius: 40px;
  transition: all 0.3s;
}

.footer-nav-list .nav-item:hover {
  color: #7b4626;
  background: #f9d978;
}

.copy-right {
  margin: 2.1875rem 0 1rem;
  font-size: 1.5rem;
  text-align: center;
}
