.banner-block {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 991px) {
  .banner-block {
    min-height: 28.75rem;
  }
}

.banner-swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-swiper .slick-list,
.banner-swiper .slick-slide {
  width: 100vw;
  height: 100vh;
}

.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1023px) {
  .banner-img {
    height: calc(100vh - 15px);
  }
}

.banner-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    66.11% 106.13% at 30.51% 30.42%,
    rgba(0, 0, 0, 0.4) 43.75%,
    rgba(0, 0, 0, 0) 100%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.campain-info {
  position: absolute;
  left: 50%;
  bottom: 2.0625rem;
  z-index: 2;
  transform: translateX(-50%);
  max-width: 80%;
  width: 53.125rem;
  padding: 1.625rem 1.25rem 1.25rem;
  background: linear-gradient(0deg, rgba(38, 38, 38, 0.8), rgba(38, 38, 38, 0.8));
  border: 1px solid #000;
  border-radius: 3.75rem;
  font-size: 1.6875rem;
  line-height: 1.6875rem;
  color: #f9d978;
  text-align: center;
  letter-spacing: -1px;
}

@media (max-width: 1023px) {
  .campain-info {
    bottom: 6.25rem;
    width: 748px;
    padding: 1.25rem 0.9375rem;
  }
}

@media (max-width: 991px) {
  .campain-info {
    font-size: 1.125rem;
    line-height: 1.375rem;
    padding: 0.8125rem 0.9375rem;
    border: 1px solid #f9d978;
    border-radius: 1.25rem;
  }
}
