.fixed-button {
  position: fixed;
  bottom: 7.6875rem;
  right: 1.875rem;
  z-index: 99;
}

@media (max-width: 991px) {
  .fixed-button {
    display: flex;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    bottom: 0.625rem;
  }
}

.book-online-desktop,
.call-us-desktop {
  display: block;
  min-width: 13.125rem;
  min-height: 2.625rem;
  padding: 0.5625rem 0.625rem 0.25rem;
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: -2px;
  text-align: center;
  color: #000;
  border-radius: 1.25rem;
  transition: all 0.3s;
}

@media (max-width: 991px) {
  .book-online-desktop,
  .call-us-desktop {
    font-size: 1.3125rem;
    min-width: 10.375rem;
  }
}

.book-online-desktop {
  margin-bottom: 0.5rem;
  background: radial-gradient(89% 89% at 50% 11%, #f9d978 0%, #f8ed71 64.06%, #feec66 100%);
}

.book-online-desktop:hover {
  background: radial-gradient(89% 89% at 50% 11%, #feec66 0%, #f8ed71 64.06%, #f9d978 100%);
  transform: scale3d(1.05, 1.05, 1.05);
}

.call-us-desktop {
  background: radial-gradient(89% 89% at 50% 11%, #ffffff 0%, #d9d9d9 64.06%, #f1f0ed 100%);
}

.call-us-desktop:hover {
  background: radial-gradient(89% 89% at 50% 11%, #f1f0ed 0%, #d9d9d9 64.06%, #ffffff 100%);
  transform: scale3d(1.05, 1.05, 1.05);
}
